@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
body{
    background: #191717;
}
.app{
    background: #EBE4D1;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #191717;
    font-weight: 600;
    border-bottom: 1px solid #191717;
    padding-bottom: 30px;
    text-align: center;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    text-align: center;
}
.btn{
    background: #b99b47;
    color: #191717;
    font-weight: 500;
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s linear;

}
.btn:hover:not([disabled]){
    background: #e2aa11;
    color: #f5f2ed;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #191717;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    width: 150px;
    display: none;
    transition: all 0.3s linear;
}
#next-btn:hover{
    background: #e2aa11;
    color: #191717;
}
.correct{
    background: #30c38b;
}
.incorrect{
    background: #db594d;
}
.ahjm{
    color: rgb(173, 36, 36);
}
